{% extends "response/base.html" %}
{% block content %}

<div class="container">
<div class="jumbotron">
  {% if rescue.marks.count == 0  %}
  <h2>No marks are published yet!</h2>
  {% else %}
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sr. no.</th>
        <th scope="col">Subject</th>
        <th scope="col">Agency Name</th>
        <th scope="col">victims Obtained</th>
        <th scope="col">Max saved</th>
      </tr>
    </thead>
    <tbody>
      {% for object in rescue.marks.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <th>{{ object.subject_name }}</th>
        <th>{{ object.agency.name }}</th>
        <th>{{ object.marks_obtained }}</th>
        <th>{{ object.maximum_marks }}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
</div>

{% endblock %}
